@{
    ViewData["Title"] = "Home";
}

<div class="home">
    <img class="banner" src="~/images/banner.jpg" alt="banner home pagina" />

    <h1>Welkom!</h1>

    <a asp-controller="Package" asp-action="Index">
        <button class="secondary-button">
            Naar beschikbare pakketten
        </button>
    </a>
</div>
